<ion-header>
  <ion-navbar color="primary">
    <ion-title>Nova Denuncia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="denuncia" (ngSubmit)="enviar()">

    <ion-list padding>

      <ion-item>
        <ion-label floating>Usuário</ion-label>
        <ion-input type="text" formControlName="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input type="text" formControlName="telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CPF</ion-label>
        <ion-input type="text" formControlName="cpf"></ion-input>
      </ion-item>

      <button ion-button (click)="clickImage()">Capture Image</button>
      <img src="{{clickedImagePath}}" />

      <button ion-button block>Enviar Denuncia</button>

    </ion-list>

  </form>

</ion-content>