<ion-header>
  <ion-navbar color="primary">
    <ion-title>Nova Denuncia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="enviar()">

    <ion-list padding>

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" formControlName="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input type="text" formControlName="telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CPF</ion-label>
        <ion-input type="text" formControlName="cpf"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Rua</ion-label>
        <ion-input type="text" formControlName="rua"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número</ion-label>
        <ion-input type="number" formControlName="numero"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Ponto de Referencia</ion-label>
        <ion-input type="text" formControlName="pontoRef"></ion-input>
      </ion-item>

      <button ion-button >Capturar imagem</button>

      <button ion-button block>Enviar Denuncia</button>

    </ion-list>

  </form>

</ion-content>